#progress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: grey;
}

#javascript {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: green;
}

.meterred { 
	height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
